@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');


* {
  box-sizing: border-box;

  font-family: "Gloria Hallelujah", sans-serif, arial;
}
body {
  padding: 0;
  margin: 0;
}
